annotated-types==0.7.0
argcomplete==3.6.3
attrs==26.1.0
autocommand==2.2.2
breezy==3.3.21
btrfsutil==7.0
certifi==2026.4.22
cffi==2.0.0
chardet==6.0.0.post1
charset-normalizer==3.4.7
click==8.3.3
configobj==5.0.9
cryptography==48.0.0
cupshelpers==1.0
dbus-python==1.4.0
dulwich==1.1.0
fastbencode==0.3.10
filelock==3.29.0
FVS==0.3.4
gi-docgen==2026.1
icoextract==0.2.0
idna==3.15
inflect==7.5.0
jaraco.collections==5.1.0
jaraco.context==6.1.3.dev0+g098f39c91.d20260403
jaraco.functools==4.1.0
jaraco.text==4.0.0
Jinja2==3.1.6
libfdt==1.7.2
libvirt-python==12.3.0
Mako==1.3.11.dev0
Markdown==3.10.2
MarkupSafe==3.0.3
merge3==0.0.16
more-itertools==11.0.2
nftables==0.1
orjson==3.11.9
packaging==26.2
pathvalidate==3.3.1
patiencediff==0.2.18
patool==4.0.5
pefile==2024.8.26
perf==0.1
pkg_resources==81.0.0
platformdirs==4.9.6
psutils==3.3.15
puremagic==2.2.0
pycairo==1.29.0
pycparser==3.0
pycups==2.0.4
pycurl==7.46.0
pydantic==2.13.4
pydantic_core==2.46.4
Pygments==2.20.0
PyGObject==3.56.3
pyinotify==0.9.6
pypdf==6.11.0
PyQt6==6.11.0
PyQt6-WebEngine==6.11.0
PyQt6_sip==13.11.1
python-linux-procfs==0.7.4
python-magic==0.4.27
python-steamgriddb==1.0.5
pyudev==0.24.4
PyYAML==6.0.3
QTermWidget==2.4.0
Reflector==2023.6.28.0.36.1
requests==2.34.2
setuptools==82.0.1
smartypants==2.0.2
smbus==1.1
TBB @ file:///build/onetbb/src/build/python/python_build
typeguard==4.5.2
typing-inspection==0.4.2
typing_extensions==4.15.0
typogrify==2.1.0
urllib3==2.7.0
validate==5.0.9
VapourSynth==75
vkbasalt-cli==3.1.1
wheel==0.47.0
yara-python==4.5.5
yt-dlp==2026.3.17
yt-dlp-ejs==0.8.0
zapzap==6.4.2
